https://git.rwth-aachen.de/kwh40/s3i/-/jobs/artifacts/master/raw/public/s3i-0.5.1-py3-none-any.whl?job=wheel
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
ipywidgets
https://git.rwth-aachen.de/kwh40/fml40-reference-implementation/-/jobs/artifacts/master/raw/public/fml40_reference_implementation-0.1.2-py3-none-any.whl?job=wheel

